@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";
@import "font-awesome";

$background-color: #eeeeee;
$text-color: #3e3e3e;
$light-text-color: #eeeeee;
$heading-color: hsl(160, 90%, 40%);
$mask-color: #333333;

body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: $text-color;
	background-color: $background-color;
	width: 100%;
}

header {
	padding: 0 1em;
	background-color: $heading-color;

	li {
		float: left;

		a {
			font-size: 1.5em;
			text-decoration: none;
			color: white;
			display: inline-block;
			padding: 1em;
		}

		&:hover {
			background-color: hsl(160, 90%, 35%);
		}
	}

	@include clearfix;
}

.hero {
	width: 100%;
	min-width: 50em;
	position: relative;
	background-color: $mask-color;
	z-index: 1;

	&:after {
		background: url('../images/hero-1-resized.jpg');
		background-size: cover;
		position: absolute;
		content: "";
		z-index: -1;
		opacity: .2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	h2 {
		font-size: 6em;
		font-weight: bold;
		padding: 3em 0 1em 0;
		text-transform: uppercase;
		color: white;
	}

	p {
		max-width: 70%;
		font-size: 1.5em;
		font-weight: lighter;
		color: #cecece;
		line-height: 1.4;
		margin: 0 auto;
		padding: 1em 0 8em 0;

		span {
			color: $heading-color;
		}
	}
}

@mixin section-title {
	font-size: 2em;
	text-transform: uppercase;
	color: $heading-color;
	padding: 2em 0;

	&:after {
		content: "";
		display: block;
		background-color: #cccccc;
		width: 2em;
		height: .2em;
		margin: .4em auto;
	}
}

.topics {
	padding: 2em 0 4em 0;

	h3 {
		@include section-title;
	}

	li {
		float: left;
		width: 33.33%;

		i {
			font-size: 3em;
		}

		h4 {
			font-size: 1.5em;
			padding: 1em 0;
			font-weight: bold;
		}

		p {
			line-height: 1.4;
			color: #6e6e6e;
			padding: 0 8em;
			margin-bottom: 4em;
		}
	}

	@include clearfix;
}

#week-1 {
	li {
		float: left;
		width: 50%;

		.thumb {
			width: 100%;
			height: 19em;
			overflow: hidden;

			img {
				width: 60%;
				margin-left: 35%;
			}
		}

		.description {
			width: 60%;

			h4 {
				text-align: left;
				padding-left: 1.5em;
				padding-bottom: .5em;
				font-size: 1.5em;
				font-weight: bold;
			}

			p {
				font-weight: lighter;
				line-height: 1.4;
				color: #6e6e6e;
				text-align: left;
				padding: .5em 2em;
			}
		}

		@include clearfix;
	}
}

#week-2 {
	li {
		float: left;
		width: 50%;

		.thumb {
			width: 100%;
			height: 19em;
			overflow: hidden;

			img {
				width: 60%;
				margin-right: 35%;
			}
		}

		.description {
			width: 60%;
			margin-left: 35%;

			h4 {
				text-align: left;
				padding-left: 1.5em;
				padding-bottom: .5em;
				font-size: 1.5em;
				font-weight: bold;
			}

			p {
				font-weight: lighter;
				line-height: 1.4;
				color: #6e6e6e;
				text-align: left;
				padding: .5em 2em;
			}
		}

		@include clearfix;
	}
}
